 {
	"test_plans": {
		"performence_test": {
			"comment": "性能测试配置文件实例",
			"test_type":1,
			"ac_version":1.2,
			"wtps":"[('168.168.20.66','root','cassia1983')]",
			"start_ap_count":600,
			"server":"('168.168.20.122','root','cassia1983')",
			"clients":"[('168.168.20.122','root','cassia1983'),('168.168.20.122','root','cassia1983'),('168.168.20.122','root','cassia1983')]",
			"test_mode":0,
			"HOST":"http://168.168.20.215/api",
			"INTERVAL":30,
			"PER_COUNT":10,
			"PROCESS_COUNT":3,
			"user":"tester",
			"pwd":"10b83f9a2e823c47",
			"ac_root_pwd":"cassia",
			"test_time":300,
			"data_path":"/tmp/res/",
			"MAX_OFFLINE":1
			},
		"function_test": {
			"comment": "功能测试配置文件实例",
			"test_type":1,
			"case_timeout": 120,
			"filter_count": 10,
			"unfilter_count": 300,
			"jobs": {
				"job1": {
					"env": "func_env_x1000",
					"case_path":"api_func_test",
					"case": ["test_all_api*.py"]
				},
				"job2": {
					"env": "func_env_e1000",
					"case_path":"api_func_test",
					"case": ["test_all_api*.py"]
				}
			}
		}
	},
	"mail_attr": {
		"mail_host": "smtp.qq.com",
		"mail_user": "yuanzhen0632@qq.com",
		"mail_pass": "kpvzakhbxmiebfag",
		"mail_port": 465,
		"mail_sender": "yuanzhen0632@qq.com",
		"mail_recv": "['yuanzhen@cassianetworks.com',]",
		"mail_text": "测试邮件发送。。。"
	},
  "common_paramter":{
        "comment":"通用的参数",
        "AP_model":"S2000",
         "hub":"CC:1B:E0:E1:14:FC",
         "host": "http://168.168.30.254/api",
         "local_host":"http://168.168.30.99",
         "BD1_mac":"CC:1B:E0:E1:14:FE"
  }
}
